name: Compile on push to main
on:
  push:
    branches: [ main ]
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.actor != 'github-actions[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Typst (if needed)
        run: docker pull ghcr.io/typst/typst:0.14.2
      - name: Compile Typst
        run: docker run --rm -v ${{ github.workspace }}:/workspace ghcr.io/typst/typst:0.14.2 compile /workspace/curriculum-vitae.typ
      - name: Commit PDF
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Automatically regenerate PDF"
          file_pattern: curriculum-vitae.pdf
