name: Compile on push to main
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install typst (if needed)
        run: docker pull ghcr.io/typst/typst:0.14.2
      - name: Compile typst
        run: docker run --rm -v ${{ github.workspace }}:/workspace ghcr.io/typst/typst:0.14.2 compile /workspace/curriculum-vitae.typ
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: curriculum-vitae
          path: curriculum-vitae.pdf
          
